*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#tabela{
    margin-top: 20px;
    
}

h1{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

body{
    background: #677eff;
}